aiohttp
tqdm
scikit-learn
scikit-image
numpy
matplotlib
python-dotenv
setuptools
wandb
torch
torchvision
pytorch-lightning
-e .
pytest
jupyterlab
twine
setuptools
wheel
flake8
pylint
sphinx
numpydoc
sphinxcontrib-bibtex
sphinx-gallery
memory_profiler
sphinx-rtd-theme
sphinx-copybutton
nbsphinx
pandoc
black